__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
*.log
.git
.gitignore
.vscode
.idea
*.csv
*.xlsx
*.db
.DS_Store
Thumbs.db
venv/
env/
.venv/
notebook/
tests/
*.ipynb
*.db
*.sqlite
